[REPORTS]
# Use colors rather than plain text.
output-format=colorized
# Only display the messages, not the full report.
reports=no
# Display the ID of the errors and warnings to make them easier to disable.
include-ids=y

[MESSAGES CONTROL]
# We don't want to see:
#   I0011: Suppressed warnings.
#   W0511: TODOs.
#   E1101: Modules with no member (since pylint doesn't deal with dynamic
#          imports in ndb properties correctly).
#   R0903: Too few public methods (like ndb.Model subclasses).
#   R0904: Too many public methods (like tests).
#   R0913: Methods with too many arguments.
disable=I0011,W0511,E1101,R0903,R0904,R0913

[BASIC]
# Default good names plus setUp and tearDown for unit tests.
good-names=setUp,tearDown,i,j,k,ex,Run,_
