<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A database that matches nonprofits with computer scientists">
  <meta name="author" content="https://codethechange.org/contact">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Code the Change Projects</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/global.css" rel="stylesheet">

  <script src="/static/js/jquery-1.10.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  {% block custom_header %}{% endblock %}
  {% include "analytics.html" %}
</head>
<body>
  {% include "header.html" %}
  <div id="main-content">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
