{% extends "base.html" %}
{% block body %}
  <div id="project-header">
    <div class="jumbotron">
      <h1>{{ project.title }}</h1>
      <p class="lead">{{ project.lead }}</p>
    </div>

    <div class="col-xs-8">
      <h2>Project Objectives</h2>
      <p>{{ project.description }}</p>
      <h2>Technical Objectives</h2>
      <p>{{ project.tech_objectives }}</p>
      <p>{{ project.github }}</p>
    </div>

    <div class="col-xs-4">
      <div id="numbers">
        <h1>{{ project.num_commits }}</h1>
        <p>Git commits</p>
        <h1>{{ project.num_contributors }}</h1>
        <p>People Involved</p>
        <form action='{{ action_link }}' method='post'>
          <div><input class="btn btn-primary btn-lg" type='submit' value='{{ action }} the Team'></div>
        </form>
        <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
      </div>
    </div>
  </div> {# project-header #}
{% endblock body %}


