/* Global styles to set default properties of certain elements for all pages. */

body {
  /* The last element on the page shouldn't be flush with the bottom because
   * that would feel cramped. */
  padding-bottom: 40px;
}

#header-wrapper,
#main-content {
  width: 80%;
  margin: 0 auto;
}

/* TODO(samking): Move these rules to specific files since they're only used in
 * one page. */
.project-form .input-group {
  width: 90%;
}

#project-header .jumbotron {
  border-radius: 6px;
}
