#button-signin, 
#button-signup {
  display: block;
  width: 80%;
  height: 60px;
  float: none;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
}
