{% extends "base.html" %}
{% block body %}
  <h2>Projects I Own</h2>
    {% for project in own %}
      <div class="row">
          <div class="col-md-4 h4">
              <a href="/project/{{ project.key.id() }}">{{ project.name }}</a>
          </div>
          <div class="col-md-2 h4">
             {% if project.code_link %}
                  <small>
                    <a href="{{ project.code_link }}">Contribute Code</a>
                  </small>
             {% endif %}
          </div>
          <div class="col-md-2 h4">
            {% if project.collaboration_link %}
                <small>
                    <a href="{{ project.collaboration_link }}">Collaborate</a>
                </small>
            {% endif %}
          </div>
      </div>
      <br>
    {% endfor %}

  <h2>Projects I Contribute To</h2>
    {% for project in contributing %}
      <div class="row">
          <div class="col-md-4 h4">
              <a href="/project/{{ project.key.id() }}">{{ project.name }}</a>
          </div>
          <div class="col-md-2 h4">
             {% if project.code_link %}
                  <small>
                    <a href="{{ project.code_link }}">Contribute Code</a>
                  </small>
             {% endif %}
          </div>
          <div class="col-md-2 h4">
            {% if project.collaboration_link %}
                <small>
                    <a href="{{ project.collaboration_link }}">Collaborate</a>
                </small>
            {% endif %}
          </div>
      </div>
      <br>
    {% endfor %}
{% endblock body %}
