{% extends "base.html" %}
{% from "csrf.html" import make_csrf_input %}
{% block body %}
  <div id="project-header">
    <div class="jumbotron">
      <h1>{{ project.title }}</h1>
      <p class="lead">{{ project.lead }}</p>
    </div>

    <div class="col-xs-8">
      {% if edit_link %}
        <a href="{{ edit_link }}"><button class="btn btn-primary" id="button-edit">Edit Your Project</button></a>
      {% endif %}
      <h2>Project Objectives</h2>
      <p>{{ project.description }}</p>
      <h2>Technical Objectives</h2>
      <p>{{ project.tech_objectives }}</p>
      <p>{{ project.github }}</p>
    </div>

    <div class="col-xs-4">
      <div id="numbers">
        <h1>{{ num_contributors }}</h1>
        <p>People Involved</p>
        {% for email in collaborator_emails %}
          <p class="email"><a href="mailto:{{ email }}">{{ email }}</a></p>
        {% endfor %}

        {% if user_is_logged_out %}
          <a href="{{ action_link }}"><button class="btn btn-primary btn-lg" id="button-log-to-join">Login to Join</button></a>
        {% else %}
          <form action='{{ action_link }}' method='post'>
            {{ make_csrf_input(csrf_token) }}
            <div><input class="btn btn-primary btn-lg" type='submit' value='{{ action }} the Team'></div>
          </form>
        {% endif %}
        <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
      </div>
    </div>
  </div> {# project-header #}
{% endblock body %}
