{% extends "base.html" %}
{% from "csrf.html" import make_csrf_input %}
{% block body %}
  <h1>{{ action }} Project</h1>
  <hr>
  <form id="project-form" action="{{ action_link }}" method="post">
    {{ make_csrf_input(csrf_token) }}
    <div class="col-md-8 project-form">
      {# TODO(samking): This is repetitive.  Use a for loop or something. #}
      <h3>Project Name</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="name"
               placeholder="Enter a name for your project."
               value="{{ project and project.name }}" required>
      </div>

      <h3>Two Sentence Overview</h3>
      <div class="input-group input-large">
        <textarea class="form-control" rows="2" name="overview"
                  placeholder="Write a short description of your project."
                  required>
          {{- project and project.overview -}}
        </textarea>
      </div>

      <h3>Organization Name</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="organization_name"
               placeholder="Who is behind the project?"
               value="{{ project and project.organization_name }}" required>
      </div>

      <h3>Mission</h3>
      <div class="input-group input-large">
        <textarea
           class="form-control" rows="5" name="organization_mission"
           placeholder="{{
             'Feel free to put any information here about your organization.  '
             'Some people may be interested in what problems are you working on, '
             'who your beneficiaries are, etc.' }}" required>
          {{- project and project.organization_mission -}}
        </textarea>
      </div>

      <h3>Contact Info</h3>
      <div class="input-group input-large">
        <textarea class="form-control" rows="2" name="organization_contact"
                  placeholder="How should interested volunteers contact you?"
                  required>
          {{- project and project.organization_contact -}}
        </textarea>
      </div>

      <h3>Project Description</h3>
      <div class="input-group input-large">
        <textarea class="form-control" rows="12" name="details" required>
          {%- if project and project.details -%}
            {{- project.details -}}
          {# Inline the helper text so that they can fill it in as they go. #}
          {%- else -%}
Describe your project.  You can do this however you feel is appropriate, but you may want to include details such as:
* What impact will it have?
* What technical skills are required (programming languages, frameworks)?
* What is the timeframe on the project (do you need it done by a certain date?)
* What work, if any, has already been done on the project?
* What should the design look like?  If you can link to some mocks (hand drawn is fine!), that would be a big help!
* How do you expect users to use the project?  If you have done user interviews or have put together any of this information, link to it.
* Do you already have technical people on your team?
          {%- endif -%}
        </textarea>
      </div>

      <h3>Collaboration Link</h3>
      <div class="input-group input-large">
        <input type="url" class="form-control" name="collaboration_link"
               placeholder="Link to a Google Doc or some other way for volunteers to easily collaborate."
               value="{{ project and project.collaboration_link }}" required>
      </div>

      <h3>Code Link</h3>
      <div class="input-group input-large">
        <input class="form-control" name="code_link"
               placeholder="If you already have a code repo (eg, GitHub) set up for your project, link to it here."
               value="{{ project and project.code_link }}" type="url">
      </div>

      <div>
        <input class="btn btn-primary" type="submit" value="{{ action }} Project">
      </div>
    </div> {# project-form #}
  </form>

  {# Sidebar #}
  <div class="col-md-4">
    <div>
      {# TODO(samking): ditch the <br> tags and use CSS to make this visually
      line up with the form. #}
      <br>
      <br>
      <p>Thanks for using Code the Change Projects! We have a few guidelines, however:</p>
      <ul>
        <li>
          <strong>Each submission should be an actual project.</strong>
          Projects should have a clearly defined beginning and end.
        </li>
        <li>
          <strong>Each project should have some relevance to software development.</strong>
          Programming, software design, algorithms, and data analysis are the
          main areas we focus on.
        <li>
          <strong>Projects should have a social mission.</strong>
          Our community is oriented around supporting nonprofits, social
          enterprises, and the public sector.
        </li>
      </ul>
    </div>
  </div>

  <script>
    $('#project-form').validate();
  </script>
{% endblock body %}
