{% extends "base.html" %}
{% from "csrf.html" import make_csrf_input %}
{% block body %}
  <h1>{{ action }} Project</h1>
  <hr>
  <form action="{{ action_link }}" method="post">
    {{ make_csrf_input(csrf_token) }}
    <div class="col-md-8 project-form">
      {# TODO(samking): This is repetitive.  Use a for loop or something. #}
      <h3>Title</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="title"
               placeholder="Enter a title for your project."
               value="{{ project and project.title }}">
      </div>

      <h3>Category</h3>
      <div class="input-group input-large">
        {# TODO: when you type something, autocomplete will search for a
        pre-existing category. When you have entered a category that doesn't
        exist, website will try to find a category that is not there, and
        otherwise will produce a warning #}
        <input type="text" class="form-control" name="category"
               placeholder="Enter a category..."
               value="{{ project and project.category }}">
      </div>

      <h3>Project Objective</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="lead"
               placeholder="Enter the objective for the project. Maximum 200 characters."
               value="{{ project and project.lead }}">
      </div>

      <h3>Github Page</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="github"
               placeholder="Enter a Github page for your project if it exists."
               value="{{ project and project.github }}">
      </div>

      <h3>Organization</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="organization"
               placeholder="Enter a name for your organization."
               value="{{ project and project.organization }}">
      </div>

      <h3>People Involved</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="contributors"
               placeholder="Enter others who are involved with this project."
               value="{{ project and project.contributors }}">
      </div>

      <h3>Description</h3>
      <div class="input-group input-large">
        <textarea class="form-control" rows="5" name="description"
                  placeholder="Enter a description. What do you plan to achieve with this project?">
          {{- project and project.description -}}
        </textarea>
      </div>

      <h3>Technical Objectives</h3>
      <div class="input-group input-large">
        <textarea class="form-control" rows="5" name="tech_objectives"
                  placeholder="Enter examples of coding knowledge necessary to accomplish this project.">
          {{- project and project.tech_objectives -}}
        </textarea>
      </div>

      <h3>Tags</h3>
      <div class="input-group input-large">
        <input type="text" class="form-control" name="tags"
               placeholder="Enter some tags. EX: music, social, art education..."
               value="{{ project and project.tags }}">
      </div>

      <div>
        <input class="btn btn-primary" type="submit" value="{{ action }} Project">
      </div>
    </div> {# project-form #}
  </form>

  {# Sidebar #}
  <div class="col-md-4">
    <div>
      {# TODO(samking): ditch the <br> tags and use CSS to make this visually
      line up with the form. #}
      <br>
      <br>
      <p>Thanks for using Code the Change Projects! We have a few guidelines, however:</p>
      <ul>
        <li><strong>Each submission should be an actual project.</strong> Projects should have a clearly defined beginning and end.</li>
        <li><strong>Each project should have some relevance to software development.</strong> We unfortunately do not have the capabilities to support a broader range of projects.</li>
        <li><strong>Projects cannot ask for funds.</strong> Code the change is a non-profit organization.</li>
      </ul>
      If you have any questions, please contact this non-existent email.
    </div>
  </div>
{% endblock body %}
